<div *ngIf="!transactions">
  Loading...
</div>
<div *ngIf="transactions">
  <div class="card">
    <div class="card-header">Accept Payment</div>
    <div class="card-body">
      <form (submit)="acceptMoney()" [formGroup]="acceptMoneyForm">
        <div class="form-group">
          <label for="senderId">Sender</label>
          <select class="form-control" id="senderId" formControlName="senderId"
                  [class.is-invalid]="acceptMoneyForm.get('senderId').dirty && acceptMoneyForm.get('senderId').invalid">
            <option value="" selected>Select User</option>
            <option *ngFor="let u of users" [ngValue]="u.id">{{u.displayName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" formControlName="amount"
                 [class.is-invalid]="acceptMoneyForm.get('amount').dirty && acceptMoneyForm.get('amount').invalid">
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <input type="text" class="form-control" id="comment" formControlName="comment"
                 [class.is-invalid]="acceptMoneyForm.get('comment').dirty && acceptMoneyForm.get('comment').invalid">
        </div>
        <div class="text-right">
          <button class="btn btn-primary" [disabled]="acceptMoneyForm.disabled || acceptMoneyForm.invalid">Accept</button>
        </div>
      </form>
    </div>
  </div>

  <br>

  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Bill</th>
      <th class="comment">Comment</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of transactions.content">
      <td>{{t.sender.displayName}}</td>
      <td>{{t.receiver.displayName}}</td>
      <td>{{t.amount}}</td>
      <td>{{t.createdAt | date: 'dd-MM-yyyy hh:mm:ss a'}}</td>
      <td>
        <a *ngIf="t.type === 'BILL'" [routerLink]="['/', 'bill', t.bill.id]">#{{t.bill.id}} {{t.bill.title}}</a>
        <span *ngIf="t.type === 'MANUAL'">Manual</span>
        <span *ngIf="t.type === 'LIQPAY'">LiqPay</span>
      </td>
      <td [ngClass]="{'text-left': t.comment}">{{t.comment || '–'}}</td>
    </tr>
    </tbody>

  </table>
  <app-pagination [page]="transactions" (pageSelected)="loadPage($event)"></app-pagination>
</div>
