<div *ngIf="!bills">
  Loading...
</div>

<div *ngIf="bills">

  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th>Status</th>
      <th>Bill</th>
      <th>Initiator</th>
      <th>Date</th>
      <th>Created</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="bills.content.length === 0">
      <td colspan="4">There are no bills added yet</td>
    </tr>
    <tr *ngFor="let bill of bills.content">
      <td>{{bill.locked ? 'Locked' : 'Active'}}</td>
      <td><a [routerLink]="['/', 'bill', bill.id]">{{bill.title}}</a></td>
      <td>{{bill.createdBy.email}}</td>
      <td>{{bill.date | date: 'dd-MM-yyyy'}}</td>
      <td>{{bill.createdAt | date: 'dd-MM-yyyy hh:mm:ss a'}}</td>
    </tr>
    <tr>
      <td colspan="4" class="text-right"><button class="btn btn-primary" [routerLink]="['/', 'create-bill']">Add Bill</button></td>
    </tr>
    </tbody>
  </table>

  <app-pagination [page]="bills" (pageSelected)="loadPage($event)"></app-pagination>
</div>
