<div *ngIf="!bills">
  Loading...
</div>

<div *ngIf="bills">

  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th style="vertical-align: middle">Status</th>
      <th style="vertical-align: middle">Bill</th>
      <th style="vertical-align: middle">Initiator</th>
      <th style="vertical-align: middle">
        <div>Bill Date</div>
        <div style="font-size: 0.6em;">Creation date</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="bills.content.length === 0">
      <td colspan="4">There are no bills added yet</td>
    </tr>
    <tr *ngFor="let bill of bills.content">
      <td>{{bill.locked ? 'Locked' : 'Active'}}</td>
      <td><a [routerLink]="['/', 'bill', bill.id]">{{bill.title}}</a></td>
      <td>{{bill.createdBy.email}}</td>
      <td>
        <div>{{bill.date | date: 'dd-MM-yyyy'}}</div>
        <div style="font-size: 0.6em;">{{bill.createdAt | date: 'dd-MM-yyyy hh:mm:ss a'}}</div>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="text-right"><button class="btn btn-primary" [routerLink]="['/', 'create-bill']">Add Bill</button></td>
    </tr>
    </tbody>
  </table>

  <app-pagination [page]="bills" (pageSelected)="loadPage($event)"></app-pagination>
</div>
