<div *ngIf="bill">
  <div style="display:flex;justify-content: space-between;">
    <h2>#{{bill.id}} {{bill.title}}</h2>
    <button class="btn btn-warning" [disabled]="bill.locked || !isBillCreator()" (click)="lock()">Lock<span *ngIf="bill.locked">ed</span></button>
  </div>

  <table class="bill-general">
    <tr>
      <td class="text-right">Date</td>
      <th>{{bill.date | date:'yyyy-MM-dd'}}</th>
    </tr>
    <tr>
      <td class="text-right">Initiator</td>
      <th>{{bill.createdBy.email}}</th>
    </tr>
  </table>

  <table class="table table-striped text-center">
    <thead>
    <tr>
      <th>Title</th>
      <th>Amount</th>
      <th>Cost</th>
      <th>Participants</th>
      <th *ngIf="!bill.locked && isBillCreator()"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="bill.items.length === 0">
      <td colspan="5">There are no items added yet</td>
    </tr>
    <tr *ngFor="let item of bill.items">
      <td>{{item.title}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.cost}}</td>
      <td>
        <div *ngFor="let p of item.participants">
          {{p.user.email}} – <b>{{p.coefficient}}</b>
        </div>
        <button class="btn btn-link" *ngIf="!bill.locked" (click)="setCoefficient(item, '1')">+</button>
      </td>
      <td *ngIf="!bill.locked && isBillCreator()">
        <button class="btn btn-danger" (click)="dropItem(item)">Drop</button>
      </td>
    </tr>
    <tr *ngIf="!bill.locked && isBillCreator()">
      <td><input type="text" id="title" #title></td>
      <td><input type="text" id="amount" #amount></td>
      <td><input type="text" id="cost" #cost></td>
      <td>No Attached Participants</td>
      <td>
        <button class="btn btn-success" (click)="addItem({title: title.value, amount: amount.value, cost: cost.value})">
          Add
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
